#Test
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../img/wallpaper.jpg);
}

.videogameForm {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

h1 {
    font-size: 60px;
    margin-top: 250px;
    text-align: center;
}

.videogameForm h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.videogameForm label {
    font-size: 20px;
    margin-bottom: 20px;
}

.data {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.videogameForm .button {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}